body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header / Navbar */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
#pfp{
  padding-left: 15%;
  height: 1000px;
  width: 700px;
}
